@import "../base/extend";
@import "../base/mixin";
@import "../base/variables";




   


   .catalogoo{
    @include grid;
        

    grid-template-areas: 
        "imagen-1 imagen-2"
        "parrafo-hilux parrafo-corolla"
        "imagen-3 imagen-4"
        "parrafo-etios parrafo-etiosc"
        "imagen-5 imagen-6"
        "parrafo-yaris parrafo-yarisgr";



   
}
.imagen-1{
    grid-area: imagen-1;
    width: 50%;
    height: 80%;

    
}

.imagen-2{
    grid-area: imagen-2;
    width: 50%;
    height: 80%;
}

.imagen-3{
    grid-area: imagen-3;
    width: 50%;
    height: 80%;

    
}

.imagen-4{
    grid-area: imagen-4;
    width: 50%;
    height: 80%;

    
}

.imagen-5{
    grid-area: imagen-5;
    width: 50%;
    height: 80%;

}

.imagen-6{
    grid-area: imagen-6;
    width: 50%;
    height: 80%;

    
}
footer{
       
    height:0px;
    
}
.fondo{
    background-color: gray;
    text-align: center;


}

.pie{
    background-color: gray;

    text-align: center;
}

.parrafo-hilux{
    grid-area: parrafo-hilux;
}

.parrafo-corolla{
    grid-area: parrafo-corolla;
}

.parrafo-etios{
    grid-area: parrafo-etios;
}

.parrafo-etiosc{
    grid-area: parrafo-etiosc;
}

.parrafo-yaris{
    grid-area: parrafo-yaris;
}

.parrafo-yarisgr{
    grid-area: parrafo-yarisgr;
}



@media screen and (max-width:1024px){
     
    .fondo{
        @extend %none;
    }
    .pie{
        display: none;
    }

    
    
}
@media screen and (max-width:600px){
   
     .pie{
        display: none;
    }

      

    
}

