///////////estilos de la pagina principal///////////////////

@import "../base/extend";
@import "../base/mixin";
@import "../base/variables";





.imagen-toyo{
    grid-area: imagen-toyo;
}

.texto-titulo{
    grid-area: texto-titulo;
    margin-bottom: 60px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.comentarios-media{
    grid-area: comentarios-media;
    display: inline-block;
    margin-left: 250px;
}
    


.comentarios-clientesmedia{
    grid-area: comentarios-clientesmedia;
    display: inline-block;
    text-align: center;
    margin-left: 200px;
}

.img-principal{
    flex-direction: column;
    display: flex;
    align-items: center;
}
.titulo{
    font-size: 2rem;
    text-align: center;

}
.texto-titulo{
    text-align: center;
}

.imagen-toyo{
    width: 110%;
    padding: 1.5rem;
    margin: 1.5rem;
}

.fondo-encabezado{

    background-color: $colo-encabezado;
}

.bloke-comentario{
    display: flex;
    justify-content:space-around ;
   
}
.comentarios{
    display: inline-block;


   
}


.cuadro-comentarioos{
    margin-bottom: 10px;
    margin-top: 20px;
    
}


.fondo{
    background-color: gray;
    text-align: center;


}

.pie{
    background-color: gray;
    text-align: center;
}




@media screen and (max-width:600px){
    div{
        
        width: 100%;
        display: grid;
        grid-template-columns:auto;
        grid-template-rows: auto;

        grid-template-areas: 
            "imagen-toyo"
            "titulo"
            "texto-titulo"
            "comentarios"
            "comentarioss";

        justify-content: center;
        justify-items: center;
    }

    .imagen-toyo{
        grid-area: imagen-toyo;
        text-align: center;
        width: 100%;
        height: 100%;
    }


    .titulo{
        grid-area: titulo;
        margin-top: 45px;
        display: inline-block;
        text-align: center;
    }

    .texto-titulo{
        grid-area: texto-titulo;
        margin-top: 90px;

    }

    .comentarios{
        width: 100%;
        grid-area: comentarios;
        text-align: center;
        width: auto;

    }

    .comentarioss{
        grid-area: comentarioss;
        text-align: center;
    }
}



@media screen and (max-width:1024px){
    .div-ubicacion{
        
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;

        grid-template-areas: 
            "imagen-toyo"
            "texto-titulo"
            "comentarios-media"
            "comentarios-clientesmedia";

        justify-content: center;
        justify-items: center;

    }

    .imagen-toyo{
        grid-area: imagen-toyo;
    }

    .texto-titulo{
        grid-area: texto-titulo;

    }

    .comentarios-media{
        grid-area: comentarios-media;
    }

    .comentarios-clientesmedia{
        grid-area: comentarios-clientesmedia;
    }
}



