//estilos de nosotros//

@import "../base/extend";
@import "../base/mixin";
@import "../base/variables";



.nosotross{
        
    width: 100%;
    display: grid;
    grid-template-columns:auto ;
    grid-template-rows: auto;


    grid-template-areas: 
        "imagen-nosotros"
        "titulo-nosotross"
        "texto-nosotross";


    justify-content: center;
    justify-items: center;


}




.imagen-nosotros{
    grid-area: imagen-nosotros;
    text-align: center;
    margin-top: 30px;
    width: 100%;

}


.titulo-nosotross{
    grid-area: titulo-nosotross;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 2rem;
}


.texto-nosotross{
    grid-area: texto-nosotross;
    text-align: center;
    margin-bottom: 50px;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.titulo-nosotros{
    text-align: center;
}


.texto-nosotros{
    display: inline-block;
    text-align: center;
    
}


.fondo{
    background-color: gray;
    text-align: center;


}

.pie{
    background-color: gray;
    text-align: center;
}



@media screen and (max-width:600px){
    .img-toyota{
        display: none;

    }
    .texto-nosotross{
        font-size: small;
    }
}

